In [130]:
import pandas as pd #This code imports pandas to open our csv file
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression #This code import Linear regression to create the models
from sklearn.metrics import mean_absolute_error #This import the mean absolute error function
from sklearn.model_selection import train_test_split #This code import train to split our data for training and testing

In [30]:
df = pd.read_csv("regressiondata.csv", delimiter=";") #This code imports the data file and seperate using ; for readability

In [31]:
df.head() #This code is just to look at how my data looks.

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [32]:
df.describe() #This lets me know how is my data is described

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

In [125]:
len(df) #This tells me the whole length of my data

1599

In [126]:
df.shape #This code shows the shape of the data

(1599, 12)

Part 1 - Univariate regression

In [112]:
X_1 = df['volatile acidity'] #The first part of the task is to do the Univariate regression so I have selected one feature
y = df['quality'] #The target in this is the quality

In [128]:
X_1.shape #This code checks the shape of my data to see if I have what I want

(1599,)

In [129]:
y.shape#This code shows the shape of the targets

(1599,)

In [114]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X_1,y, test_size=0.2, random_state=42) #This code split your data into training (80%) and testing (20%)

In [115]:
X1_train.shape #This code check the shape of my X train data to see if I have what I am looking for

(1279,)

In [116]:
X1_train = X1_train.values.reshape(-1,1) #This code is the reshape X1_train data

In [117]:
X1_train.shape #This code checks the shape of my data to see if I have what I want

(1279, 1)

In [118]:
y1_train = y1_train.values.reshape(-1,1)#This code is the reshape y1_train data

In [119]:
y1_train.shape #This code checks the shape of my data to see if I have what I want

(1279, 1)

In [43]:
y1_test = y1_test.values.reshape(-1,1)

In [44]:
X1_test = X1_test.values.reshape(-1,1)

In [45]:
y1_train.shape

(1279, 1)

In [46]:
X1_test.shape #This checks the shape of the testing data that I have splited

(320, 1)

In [86]:
model = LinearRegression() #This code initialise the model
model.fit(X1_train, y1_train) #This code fit out the train data

LinearRegression()

In [87]:
model.coef_ #This code will get coefficient w_1

array([-1.70303311])

In [88]:
model.intercept_ #This code will give us w_0

6.527484538190733

The model, given the above output, is as follows:
$y = d_0w_0+d_1w_1, d_0=1, w_0=6,w_1=x,d_1=-1$
$y = 6 -1w_0$

$y = 6 -1d_1, d_1$ = feature 1 = 'volatile acidity'

$y = 6d_0-1d_1, d_0 = 1, d_1 =$ 'volatile acidity'

In [51]:
Y_pred = model.predict(X1_test) #The code shows the model to the testing features and get the predictions

In [90]:
mean_absolute_error(y1_test, Y_pred) #This code will give the mean squared error of the 'volatile acidity' feature test data

0.5749664687393711

In [92]:
feature_col = ['fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol'] #This code put all the features of the data file

In [93]:
X=df[feature_col] #This code takes the features of the dataset to be trained and get the best mean absolute error

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42) #This code split your data into training (80%) and testing (20%)

In [101]:
mean_abs_error = dict() #This code creates a dictionary which store all mean absolute error for features
for i in range(len(feature_col)): #This for loop take one feature to get the best mean absolute error
  X_train_all = X_train.iloc[:, i].values.reshape(-1, 1) #This code reshape X_train to be checked for mean absolute error

  model.fit(X_train_all, y_train) #This code fits each univariate linear regression in the dataset

  X_test_all = X_test.iloc[:,i].values.reshape(-1, 1) #The code reshape X_test to predict the model

  Y_pred = model.predict(X_test_1) #This code predict the targets for test dataset
  mean_abs_error.update({feature_col[i]:mean_absolute_error(y_test, Y_pred)}) #This code updates the dictionary will all the mean absolute error

In [121]:
mean_abs_error #This code checks all the mean absolute error of the feature to compare

{'alcohol': 0.5749664687393711,
 'chlorides': 21.490963258383022,
 'citric acid': 9.013611547748932,
 'density': 686.2572287281763,
 'fixed acidity': 0.6444421358032838,
 'free sulfur dioxide': 0.6844782461649415,
 'pH': 1.7607697990761395,
 'residual sugar': 0.6810231864270888,
 'sulphates': 10.906903517394,
 'total sulfur dioxide': 0.6664675514007048,
 'volatile acidity': 16.940813734476006}

In [77]:
x=min(mean_abs_error, key=mean_abs_error.get) #This find the minimum mean absolute error which is the best

In [120]:
print("The best mean absolute error is : {} with the value = {}".format(x,mean_abs_error[x]))#This code feature resulted in the best mean absolute error on the test data

The best mean absolute error is : alcohol with the value = 0.5749664687393711

Part 2 - multi-variate regression

Since we have already split all the feature before the loop I can just use it for multi-variate regression

In [105]:
model.fit(X_train, y_train) #This code fits the data for multi-variate on trained data
Y_pred = model.predict(X_test) #This code predicts our outcome of the model
multi_error = mean_absolute_error(y_test, Y_pred) #This code give us the mean absolute error of multi-variate model

In [133]:
print("The mean absolute error of the multi-variate is : {}".format(multi_error)) #This code print out the mean absolute error of the multi-variate

The mean absolute error of the multi-variate is : 0.5035304415524372

Part 3 - which of the models performed best? Motivate your answer

The multi-variable model is the best model because it has the smallest mean absolute error between the two.